<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/UgoOtuonye">Ugo Otuonye</a> & <a target="_blank" href="http://github.com/UgoAssociates">Associates</a>. The team of developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Together we are on a mission to empower Africa!!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />